<div class="container-fluid">
  <h1>Editing License</h1>

  <%= render 'form', license: @license %>

  <%= link_to 'Show', @license, class: 'btn btn-light' %> |
  <%= link_to 'Back', licenses_path, class: 'btn btn-light' %>
</div>

