<div style="display: grid; grid-template-columns: minmax(100px, 20%) auto;grid-gap: 5px">
  <div class="mt-1">
    <div class="list-group">
      <%= link_to 'Alocações', operational_new_leases_path, class: 'list-group-item list-group-item-action' %>
      <%= link_to 'Entrada/Saída', operational_entry_and_exit_of_leases_path, class: 'list-group-item list-group-item-action' %>
      <%= link_to 'Atrasos', operational_late_leases_path, class: 'list-group-item list-group-item-action' %>
    </div>
  </div>
  <div>
    <%= yield %>
  </div>
</div>