<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bem Vindo ao Sistema de Aluguel de Automóveis</h1>
      <p class="lead">Inicialmente este sistema está sendo desenvolvido como um requisito para um processo seletivo.</p>
    </div>
  </div>
</div>