<div class="container-fluid">
  <h1>Editing Setting</h1>

  <%= render 'form', setting: @setting %>

  <%= link_to 'Show', @setting, class: 'btn btn-light' %> |
  <%= link_to 'Back', settings_path, class: 'btn btn-light' %>
</div>