<div class="container-fluid">
  <h1>Editing Lease</h1>

  <%= render 'form', lease: @lease %>

  <%= link_to 'Show', @lease, class: 'btn btn-light' %> |
  <%= link_to 'Back', leases_path, class: 'btn btn-light' %>
</div>