<div class="container-fluid">

  <h1>Editing Automobile</h1>

  <%= render 'form', automobile: @automobile %>

  <%= link_to 'Show', @automobile, class: 'btn btn-light' %> |
  <%= link_to 'Back', automobiles_path, class: 'btn btn-light' %>
</div>
