<div class="container-fluid">
  <div class="row mt-2 mb-1">
    <div class="col-sm-6">
      <h5>Automóveis que não podem ser alugados nas quartas-feiras</h5>
    </div>
    <div class="col-sm-6 d-flex justify-content-end">
      <%= paginate @unavailable_on_wednesdays, param_name: 'unavailable_on_wednesdays_page' %>
    </div>
  </div>

  <table class="table table-bordered table-hover table-striped">
    <thead>
    <th>Tipo</th>
    <th>Modelo</th>
    <th>Placa</th>
    </thead>
    <tbody>

    <% if @unavailable_on_wednesdays.blank? %>
      <tr>
        <td colspan="4">Nenhum automóvel elegível</td>
      </tr>
    <% end %>
    <% @unavailable_on_wednesdays.each do |automobile| %>
      <tr>
        <td><%= automobile.automobile_type %></td>
        <td><%= automobile.model %></td>
        <td><%= automobile.plaque %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>